<footer>
  <div class="footer-logo"></div>
  <div class="movie-genre">
    <h3>
      <a
        href="#/movies"
        style="text-decoration: none; color: #ff914d"
        ng-click="changePage('movies')"
        >Movies</a
      >
    </h3>
    <ul>
      <li><a href="" ng-click="changeToMoviesPage('Adventure')"">Adventure</a></li>
      <li><a href="" ng-click="changeToMoviesPage('Action')"">Action</a></li>
      <li><a href="" ng-click="changeToMoviesPage('Comedy')"">Comedy</a></li>
      <li><a href="" ng-click="changeToMoviesPage('Horror')"">Horror</a></li>
      <li><a href="" ng-click="changeToMoviesPage('Sci-Fi')"">Sci-Fi</a></li>
      <li><a href="" ng-click="changeToMoviesPage('Romance')"">Romance</a></li>
    </ul>
  </div>
  <div class="links">
    <h3>Links</h3>
    <ul>
      <li><a href="#/contactUs">Contact Us</a></li>
      <li>
        <a href="" ng-click="locationChange2('#/myAccount')">My Account</a>
      </li>
    </ul>
  </div>
  <div class="newsletter">
    <h3>Newsletter</h3>
    <div class="newsletter-content">
      <p>Subscribe for daily updates</p>
      <div class="input-newsletter">
        <input type="email" />
        <a>></a>
      </div>
    </div>
  </div>
  <div class="socials">
    <a class="social-media-icon instagram"
      ><img src="../../images/Icons/sm1.png" alt="instagram-logo"
    /></a>
    <a class="social-media-icon facebook"
      ><img src="../../images/Icons/sm2.png" alt="facebook-logo"
    /></a>
    <a class="social-media-icon twitter"
      ><img src="../../images/Icons/sm3.png" alt="twitter-logo"
    /></a>
    <a class="social-media-icon threads"
      ><img src="../../images/Icons/sm4.png" alt="threads-logo"
    /></a>
  </div>
</footer>
